
  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Music name</th>
            <th scope="col">Artist name</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let playListMusica of playlistFilho.playlistMusicas">
            
            <td>{{ playListMusica.musica.nome }}</td>
            <td>{{ playListMusica.musica.artista.nome }}</td>
            <td>
                <input type="checkbox" [(ngModel)]="playListMusica.musica.checked" (click) = "checkedMusic(playListMusica)"/>
            </td>
            <td>
              {{ playListMusica.checked }}
            </td>
          </tr>
        </tbody>
      </table>    
    </div>
  </div>
